/*Maquetacion*/
*{
    box-sizing: border-box;
    font-family: Ubuntu,Calibri,Verdana,sans-serif;
}
body,html{
    min-height: 100vh;
    width: 98.673vw;
    margin: 0px;
    padding: 0px;
}
#contenedor-principal{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4,1fr) 200px;
    width: 98.673vw;
    min-height: 100vh;
}

/*Barra Superior*/
nav#menu-cabecera{
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    /*overflow: hidden;*/
    background-color: #1d2d44;
    box-shadow: 0px 1px 5px 1px black;
    color: #e8f1f2;
}
nav#menu-cabecera div#contenido-izquierda-nav{
    display:flex ;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
nav#menu-cabecera div#contenido-derecha-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
img#logo-foro{

}
a#link-pregunta{
    margin-left: 20px;
    background-color: #247ba0;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
}
form#formulario-busqueda{
    margin-left: 20px;
    display: flex;
    align-self: center;
}
form#formulario-busqueda label#label-caja-busqueda{
    margin-right: 3px;
}
a#link-inicio-sesion{
    background-color: #247ba0;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
}
nav#menu-cabecera a{
    color: #e8f1f2;
}
nav#menu-cabecera a:visited{
    color: #e8f1f2;
}

/*Menú desplegable*/

.dropbtn {
    margin-left: 120px;
    background-color: #247ba0;
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #0D1321;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e8f1f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #0D1321 !important;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #748cab;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #748cab;}

/*Footer*/
footer#pie-pagina{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #e8f1f2;
    width: 100%;
    overflow: hidden;
    background-color: #1d2d44;
    grid-area: 5 / 1 / 6 / 11;
}
footer#pie-pagina a{
    color: #e8f1f2;
}
footer#pie-pagina a:visited{
    color: #e8f1f2;
}
/*Aside*/
aside#barra-lateral-aside{
    display: flex;
    grid-area: 1 / 8 / 5 / 10;
    flex-flow: column nowrap;
}
div#placeholder-aside-aside{
    height: 10vh;
    width: 100%;
}
div#contenedor-principal-categorias-aside{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
h3#titulo-categoria{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
div#contenedor-secundario-categorias-aside{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
}
div#contenedor-secundario-categorias-aside a{
    min-width: 25%;
    text-align: center;
    background-color: #748cab;
    margin: 2px 2px;
    text-decoration: none;
    color: #0d1321;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}
div#contenedor-secundario-categorias-aside a:hover{
    background-color: #247ba0;
}
/*Fuentes*/
/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media screen and (min-width: 400px) and (max-width: 800px) {

    #contenedor-principal {
        display: block;
    }

    form#formulario-busqueda, aside#barra-lateral-aside {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    #contenedor-principal {
        display: block;
    }

    img#logo-foro, form#formulario-busqueda, aside#barra-lateral-aside {
        display: none;
    }
}