/*Maquetacion*/
*{
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 98.67vw;
    margin: 0px;
    padding: 0px;
}
#contenedor-principal{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 98.67vw;
    height: 100vh;
}

/*Barra Superior*/
nav#menu-cabecera{
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    background-color: #247ba0;
}

/*Footer*/
