#contenedor-hacer-preguntas {
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #0D1321;
    grid-area: 1 / 2 / 5 / 10;
}

#contenedor-hacer-preguntas ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contenedor-hacer-preguntas ul li:first-child input, #contenedor-hacer-preguntas ul li textarea {
    width: 100%;
}

#contenedor-hacer-preguntas ul li:nth-of-type(2) + li:last-child {
    margin-top: 25px;
}

#contenedor-hacer-preguntas ul li:first-child input {
    font-size: 1.5em;
}

#contenedor-hacer-preguntas ul li:last-child {
    display: flex;
}

#contenedor-hacer-preguntas ul li:last-child {
    justify-content: space-between;
}

#contenedor-hacer-preguntas ul li:nth-of-type(2) textarea, #contenedor-hacer-preguntas ul li:last-child input {
    font-size: 1.10em;
}

#contenedor-hacer-preguntas ul li:last-child input:last-child {
    background-color: #247ba0;
    color: #e8f1f2;
    padding: 0 40px;
}

/*  Tablet (min-width: 400px) and (max-width: 800px)
    Móvil (max-width: 400px) */
@media screen and (max-width: 800px) {
    #contenedor-hacer-preguntas {
        padding-bottom: 10px;
    }

    #contenedor-hacer-preguntas ul li:last-child {
        flex-direction: column;
    }

    #contenedor-hacer-preguntas ul li:last-child input:last-child {
        margin-top: 10px;
    }
}