#contenedor-perfil {
    display:flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    background-color: #e8f1f2;
    grid-column-start: 3;
    grid-column-end: 8;
}

#perfilUsuario {
    padding: 10px;
    margin-top: -1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
    text-align: center;
    padding: 10px;
    background-color: #247ba0;
    color: #e8f1f2;
    opacity: 0.5;
}

ul li:hover {
    opacity: 1;
}

td p:first-child span:first-child, td h3 {
    color:#247BA0;
}

td p:last-child {
    display: flex;
}

td p:last-child span:first-child {
    
}

td p:last-child span:last-child {

}


