/*general*/
/*Principal*/
section#contenedor-preguntas-respuestas {
    display: flex;
    flex-flow: column nowrap;
    grid-area: 1 / 2 / 5 / 8;
}
/*Pregunta*/
div#contenedor-pregunta{
    display:flex;
    flex-flow: row wrap;

}
div#contenedor-pregunta>span{
    width: 100%;
    margin-top: 5px;
}
div#contenedor-pregunta h2#titulo-pregunta{
    width: 100%;
}
div#contenedor-pregunta p#contenido-pregunta{
    width: 100%;
}
div#contenedor-pregunta div#contenedor-categorias-pregunta{
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
}

div#contenedor-pregunta div#contenedor-likes-pregunta{
    display: flex;
    flex-flow:row nowrap;
    width: 25%;
}
/*Respuestas*/

/*Responder*/
/*Efectos*/
img.imagen-dislike{
    transform: rotate(180deg);
    height: 20px;
    width: 20px;
}
 img.imagen-like{
    height: 20px;
    width: 20px;
}